<<<<<<< HEAD
=======

body {
	overflow-x: hidden;
}

>>>>>>> b075d962c8e3db26ec250329dcfb0e5f9e14db63
.App {
	height: 100vh;
	width: 100vw;
	text-align: center;
}
.splash {
	background-color: #ddd;
	background-image: url(https://github.com/buildweek-medcabinet-8/front/raw/master/med-cabinet8/src/img/splash.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: screen;
<<<<<<< HEAD
=======

>>>>>>> b075d962c8e3db26ec250329dcfb0e5f9e14db63
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
